.person {
  background-image: url(../assets/ikone/person.svg);
}
.mail {
  background-image: url(../assets/ikone/mail.svg);
}
.afna {
  background-image: url(../assets/ikone/afna.svg);
}
.big-down {
  background-image: url(../assets/ikone/big-arrow-down.svg);
}
.checked {
  background-image: url(../assets/ikone/car-check.svg);
}
.car {
  background-image: url(../assets/ikone/car.svg);
}
.mobile {
  background-image: url(../assets/ikone/telefon.svg);
}
.phone {
  background-image: url(../assets/ikone/telefon.svg);
}
.gas {
  background-image: url(../assets/ikone/tip-pogona.svg);
}
.gear {
  background-image: url(../assets/ikone/menjalnik.svg);
}
.co2 {
  background-image: url(../assets/ikone/co2.svg);
}
.engine {
  background-image: url(../assets/ikone/piston.svg);
}
.engine_blue {
  background-image: url(../assets/ikone/engine.svg);
}
.drop {
  background-image: url(../assets/ikone/poraba.svg);
}
.measure {
  background-image: url(../assets/ikone/velikost.svg);
}
.keys {
  background-image: url(../assets/ikone/keys.svg);
}
.mail-white {
  background-image: url(../assets/ikone/mail-white.svg);
}
.facebook {
  background-image: url(../assets/ikone/fb.svg);
}
.sort {
  background-image: url(../assets/ikone/sort.svg);
}
.kvaliteta {
  background-image: url(../assets/ikone/kvaliteta.svg);
}
.postenost {
  background-image: url(../assets/ikone/postenost.svg);
}
.zadovoljstvo {
  background-image: url(../assets/ikone/zadovoljstvo.svg);
}
* {
  background-repeat: no-repeat;
  background-position: 0 50%;
}
