@font-face {
  font-family: 'SanFranciscoDisplay-Regular';
  src: url('SanFranciscoDisplay-Regular.eot');
  src: url('SanFranciscoDisplay-Regular.woff2') format('woff2'),
       url('SanFranciscoDisplay-Regular.woff') format('woff'),
       url('SanFranciscoDisplay-Regular.ttf') format('truetype'),
       url('SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg'),
       url('SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

